name: CI

on:
  pull_request:
    branches: ["main"]
    paths-ignore: ["*.md"]
  
  push:
    branches:
      - "renovate/**"

# Prevent duplicate runs if Renovate falls back to creating a PR
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: actions/setup-dotnet@v5

      - run: ./Build.ps1
        shell: pwsh

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        with:
          images: workleap/eventgridemulator

      - name: Docker build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: ./src
          file: ./src/EventGridEmulator/Dockerfile
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
